*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar {
  background-color: white;
  border: 3px solid rgb(255, 255, 255);
  height: 90%;
  outline: none;
  border-radius: 25px;
}

.navbar-header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  padding: 10px;
  margin: 25px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);

}

.navbar h1{
width: 30%;
border-radius: 10px;
padding: 20px;
}
.links{
  width: 30%;
  border-radius: 10px;
  padding: 20px;
}

.taskslist{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  max-width: 500px;
  margin: 1px auto;
  padding: 50px; 
  background-color: rgb(189, 25, 25)
}

.task{
  display: flex;
  justify-content: center;
  max-width: 400px;
  padding: 10px 16px;
  margin: 20px 0;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  border-bottom: 1px #8E49E8; 
  background-color: #8E49E8;
  border: 1px solid #8E49E8;
}

.task:hover{
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
 .task h2{
   font-size: 20px;
   margin: 10px;
 }
.container{
background-color: aqua;
  height: 100%;
  align-content: space-between;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}

.inputfield{
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 45px;
}
.inputfield input{
    width: 50%;
    height: 100%;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 17px;
    padding-left: 15px;
    transition: all 0.3s ease;
  }
  .inputfield input:focus{
    border-color: #8E49E8;
  }
  .inputfield button{
    width: 50px;
    height: 100%;
    border: none;
    color: #fff;
    margin-left: 5px;
    font-size: 21px;
    background: #8E49E8;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.6;
    pointer-events: none;
    transition: all 0.3s ease;
  }

