*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar {
  background-color: #8E49E8;
  border: 3px solid #ccc;
  height: 90%;
  outline: none;
  border-radius: 25px;
}

.navbar-header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  padding: 10px;
  margin: 25px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);

}

.navbar h1{
width: 30%;
border-radius: 10px;
padding: 20px;
}
.tasklist{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  margin: 20px auto;
  padding: 25px;
  
  background-color: aqua;
}
.task{
  background: #b60f0f;
  max-width: 400px;
  
}
.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 800px;
  align-content: space-between;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}

.inputfield{
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 45px;
}
.inputfield input{
    width: 50%;
    height: 100%;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 17px;
    padding-left: 15px;
    transition: all 0.3s ease;
  }
  .inputfield input:focus{
    border-color: #8E49E8;
  }
  .inputfield button{
    width: 50px;
    height: 100%;
    border: none;
    color: #fff;
    margin-left: 5px;
    font-size: 21px;
    background: #8E49E8;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.6;
    pointer-events: none;
    transition: all 0.3s ease;
  }

